.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:10vh;
    background-color:black;
    padding:10px;
}

.logo a {
  color:white;
  text-decoration: none;
  
}
.logo {
   display: flex;
   color: white;
   justify-content: center;
   align-items: center;
}

.logo a img {
   width: 80px;
   height: 80px;
}

.options ul {
   display:flex;
   list-style: none;
}

.options ul .menu {
  text-decoration:none;
  color:white;
  margin-left:12px;
}

@media(max-width:768px){
  .navbar{
     flex-direction: column;
     align-items: flex-start;
     height:auto;
     padding:8px;
  }
  .logo a {
     padding:15px;
  }
  .options ul {
     flex-direction: column;
     padding:8px;
  }
  .options ul .menu{
     margin-left:0;
  }
}