.generated-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.custom-img{
    width: 200px;
    height: 200px;
    margin: 8px;
    border: 2px solid grey;
    border-radius: 10px;
}
